@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
}

header {
  width: 100%;
  height: 70px;
  background-color: #EC362D;
  color: #FFFFFF;
  font-size: 37px;
  font-weight: 700;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.make-quizz {
  width: 1050px;
  height: 180px;
  border: 1px dashed #D5D5D5;
  margin: 77px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
}

.make-quizz > span{
  color: #b9b9b9;
  width: 250px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.make-quizz > button{
  width: 150px;
  height: 40px;
  color: #EC362D;
  font-weight: 400;
  font-size: 21px;
  border: 1px dashed #EC362D;
  border-radius: 50px;
  background-color: #FAFAFA;
}

h2{
  font-size: 20px;
  font-weight: 700;
  margin-left: 7px;
}

.all-quizzes {
  width: 1050px;
}

.quizzes-container {
  width: 1050px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.quizzes-container > div{
  width: 320px;
  height: 180px;
  margin: 15px 7px 0 7px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.all-quizzes img{
  width: 320px;
  height: 180px;
  border-radius: 5px;
}

.opacity{
  width: 320px;
  height: 180px;
  background: linear-gradient(to top, black, rgba(255, 255, 255, 0) 75%);
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.all-quizzes h3{
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  font-size: 19px;
  font-weight: 400;
  color: white;
  z-index: 1;
}

.basicInfos, .questionsQuizz{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.basicInfos > h2, .questionsQuizz > h2{
  font-size: 23px;
  font-weight: 700;
  margin-top: 70px;
  margin-bottom: 30px;
}

.infoContainer {
  width: 600px;
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 22px 0;
}

.infoContainer input, .questionDescription input, .correctAnswer input, .wrongAnswers input{
  width: 94%;
  height: 46px;
  color: #D1D1D1;
  font-style: italic;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  padding-left: 23px;
  font-size: 19px;
  outline-color: #EC362D;
}

.basicInfos button, .questionsQuizz button{
  width: 370px;
  height: 55px;
  background-color: #EC362D;
  border-radius: 15px;
  border: none;
  color: #FFF5F4;
  margin: 85px 0;
  font-size: 21px;

}

.maxiQuestion {
  width: 600px;
  height: 825px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 27px 0;
}

.questionDescription, .correctAnswer{
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 18px;
}

.questionDescription > h3, .correctAnswer > h3, .wrongAnswers > h3, .miniQuestion > h3{
  font-size: 20px;
  font-weight: 700;
}

.wrongAnswers{
  width: 100%;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 18px;
}

.miniQuestion{
  width: 600px;
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 0 20px;
  margin-top: 25px;
}

@media (max-width: 1100px){

  .make-quizz, .all-quizzes {
    width: 90%;
  }

  .quizzes-container {
    width: 100%;
    justify-content: center;
  }

  /*Break-point para tratar as telas de criação do quizz*/

  @media (max-width: 600px){
    .basicInfos > h2, .questionsQuizz > h2{
      margin-top: 40px;
    }

    .infoContainer, .miniQuestion, .maxiQuestion {
      width: 100%;
    }

    .basicInfos button, .questionsQuizz button{
      width: 325px;
      margin: 85px 25px;
    }
    
  }

}








