@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
}

header {
  width: 100%;
  height: 70px;
  background-color: #EC362D;
  color: #FFFFFF;
  font-size: 37px;
  font-weight: 700;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  position: fixed;
  left: 0px;
  top: 0px;
}

main{
  margin-top: 70px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.make-quizz {
  width: 1050px;
  height: 180px;
  border: 1px dashed #D5D5D5;
  margin: 77px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
}

.make-quizz > span{
  color: #b9b9b9;
  width: 250px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.make-quizz > button{
  width: 150px;
  height: 40px;
  color: #EC362D;
  font-weight: 400;
  font-size: 21px;
  border: 1px dashed #EC362D;
  border-radius: 50px;
  background-color: #FAFAFA;
}

h2{
  font-size: 20px;
  font-weight: 700;
  margin-left: 7px;
}

.all-quizzes {
  width: 1050px;
}

.quizzes-container {
  width: 1050px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.quizzes-container > div{
  width: 320px;
  height: 180px;
  margin: 15px 7px 0 7px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.all-quizzes img, .quizzFinished img{
  width: 320px;
  height: 180px;
}

.opacity{
  width: 320px;
  height: 180px;
  background: linear-gradient(to top, black, rgba(255, 255, 255, 0) 75%);
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.all-quizzes h3{
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  font-size: 19px;
  font-weight: 400;
  color: white;
  z-index: 1;
}

/*ÍNICO TELA 3*/
.basicInfos, .questionsQuizz, .quizzLevels, .quizzFinished{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.basicInfos > h2, .questionsQuizz > h2, .quizzLevels > h2, .quizzFinished > h2{
  font-size: 23px;
  font-weight: 700;
  margin-top: 70px;
  margin-bottom: 30px;
}

.infoContainer {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 22px;
}

.infoContainer input, .questionDescription input, .correctAnswer input, .wrongAnswers input, .maxiLevel input{
  width: 100%;
  height: 46px;
  color: #000000;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  padding-left: 23px;
  margin: 5px;
  font-size: 19px;
  outline-color: #EC362D;
}

.infoContainer input::placeholder, .questionDescription input::placeholder, .correctAnswer input::placeholder, .wrongAnswers input::placeholder, .maxiLevel input::placeholder{
  color: #D1D1D1;
  font-style: italic;
}

.basicInfos button, .questionsQuizz button, .quizzLevels button, .quizzFinished button{
  width: 370px;
  height: 55px;
  background-color: #EC362D;
  border-radius: 15px;
  border: none;
  color: #FFF5F4;
  margin: 85px 0;
  font-size: 21px;
}

.maxiQuestion {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 27px 0;
  margin: 12.5px;
}

.questionDescription, .correctAnswer{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0 18px;
  margin-bottom: 28px;
}

.questionDescription > h3, .correctAnswer > h3, .wrongAnswers > h3, .miniQuestion > h3, .quizzLevels h3{
  font-size: 20px;
  font-weight: 700;
}

.wrongAnswers{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0 18px;
}

.miniQuestion, .miniLevel{
  width: 600px;
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 0 20px;
  margin: 12.5px;
}

.miniQuestion > ion-icon, .quizzLevels ion-icon{
  width: 25px;
  height: 25px;
}

.maxiLevel {
  width: 600px;
  height: 316px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 27px 18px;
  margin: 12.5px;
}

.quizzFinished > span{
  font-size: 18px;
  font-weight: 400;
  color: #818181;
}

.quizzFinished > div{
  width: 320px;
  height: 180px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.quizzFinished button{
  width: 220px;
  height: 45px;
  margin: 45px 0 20px 0;
}
/*FIM TELA 3*/

/*Exibição de um quizz*/
.banner-quizz {
  width: 100%;
  height: 226px;
  position: relative;
}

.banner-quizz img {
  width: 100%;
  height: 100%;
}

.opacity60 {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
}

.banner-quizz  p {
  font-weight: 400;
  font-size: 38px;
  text-align: center;
  color: #FFFFFF;
}

.play-quizz {
  width: 758px;
  height: 676px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  margin: 42px 0px;
  padding: 28px 36px;
}

.banner-play-quizz {
  width: 100%;
  height: 138px;
  background: #434CA0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-play-quizz > p {
  font-weight: 700;
  font-size: 22px;
  color: #FFFFFF;
}

.answers-quizz {
  margin: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.answer > img {
  width: 330px;
  height: 174px;
  background: url(image.png);
  border-radius: 0px;
}

.answer > p {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  margin-top: 14px;
}

.finishing-quizz {
  width: 759px;
  height: 430px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 56px;
  padding: 18px 14px;
}

.banner-finishing-quizz {
  width: 100%;
  height: 98px;
  background-color: #EC362D;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-finishing-quizz > p {
  font-weight: 700;
  font-size: 22px;
  color: #FFFFFF;
}

.finishing-quizz-content {
  display: flex;
  gap: 20px;
  margin-top: 18px;
}

.finishing-quizz-content img {
  width: 364px;
  height: 273px;
  background: url(image.png);
}

.finishing-quizz-content > p {
  font-weight: 700;
  font-size: 18px;
  color: #484848;
}

main > button {
  width: 260.38px;
  height: 52px;
  background: #EC362D;
  border-radius: 16px;
  border: none;
}

main > button > p {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #FFF5F4;
}

main > p {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #818181;
  margin-top: 26px;
  margin-bottom: 80px;
}

.infoContainer > .validation{
  width: 100%;
  color: #EC362D;
  margin-bottom: 10px
}

.hidden {
  display: none;
}

@media (max-width: 1100px){

  .make-quizz, .all-quizzes {
    width: 90%;
  }

  .quizzes-container {
    width: 100%;
    justify-content: center;
  }

  /*Break-point para tratar as telas de criação do quizz*/

  @media (max-width: 600px){
    .basicInfos > h2, .questionsQuizz > h2, .quizzLevels > h2{
      margin-top: 40px;
    }

    .infoContainer, .miniQuestion, .maxiQuestion, .maxiLevel, .miniLevel{
      width: 100%;
    }

    .basicInfos button, .questionsQuizz button, .quizzLevels button{
      width: 325px;
      margin: 85px 25px;
    }

  }
}

